/* Additional global styles */
.section-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .section-padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .section-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.container-custom {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}
